@media only screen and (max-width: 1900px) {

	/*-- Section 1 - Main Page --*/

	.draw {
	    justify-content: space-between;
	   	-webkit-justify-content: space-between;
	}

	.draw .inline:nth-child(2) {
	    display: none;
	}

	/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1850px) {

	/*-- Section 1 - Jackpot Page --*/

	.two_cols_4 {
	    display: block;
	    max-width: 900px;
	    margin: 20px auto 0 auto;
	}

	.two_cols_4 > div:nth-child(1) {
	    width: 100%;
	    padding: 10px 0;
	}

	.two_cols_4 > div:nth-child(2) {
	    width: 100%;
	    padding: 10px 0;
	}

	.gamer_params {
	    padding-left: 12px;
	}

	.gamer_params_2 {
	    padding-right: 25px;
	    padding-left: 10px;
	}

	.user_wrapp_2_2 > div:nth-child(1) {
	    order: 1;
	    text-align: right;
	}

	.user_wrapp_2_2 > div:nth-child(2) {
	    order: 2;
	    text-align: right;
	}

	.gamer_params_2 > div:nth-child(3) {
	    order: 3;
	}

	.gamer_params_2 > div:nth-child(2) {
	    order: 2;
	}

	.gamer_params_2 > div:nth-child(1) {
	    order: 1;
	}

	.gamer_params_2 .single_item .draw_item > div:nth-child(1) {
	    justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	    order: 1;
	}

	.gamer_params_2 .single_item .draw_item > div:nth-child(2) {
	    order: 2;
	    text-align: left;
	}

	.thumbnails_2 .thumb_2 {
	    width: calc(25% - 16px);
	}

	/*-- /Section 1 - Jackpot Page --*/

	/*-- Section 1 - Raffle Page --*/

	.winners_thumbnails .winner_thumb {
	    width: calc(25% - 16px);
	}

	/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 1730px) {

	/*-- Section 1 - Main Page --*/

	.draw_title {
	    min-width: 310px;
	}

	.draw_title_col:nth-child(1) {
		width: 106px;
	}

	.draw_title_col:nth-child(2) {
	    max-width: 210px;
	}

	.draw_title h3 {
		display: none;
	}

	.draw_title_col:nth-child(1) img {
	    left: -47px;
	}

	.draw_title_col:nth-child(2) h2 {
	    font-size: 24px;
	    line-height: 31px;
	}

	.two_cols {
		display: block;
	}

	.two_cols > .col_1 {
	    width: 100%;
	    max-width: 100%;
	    margin: 0 auto;
	}

	.two_cols > .col_2 {
		width: 100%;
	}

	.rulet_wrapp {
	    top: 0;
	}

	.rulet_sect .history_list {
	    bottom: 10px;
	}

	.filter_three_cols {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin: 0 -20px;
	}

	.filter_three_cols .filter_wrapp {
		width: 33.33%;
		padding: 0 20px;
	}

	.radio_btns {
	    margin: 4px -4px 0 -4px;
	}

	.radio {
	    padding: 10px 13px 10px 13px;
	}

	.radio_2 {
	    padding: 11px 8px 10px 8px;
	}

	.radio_txt span {
	    padding-left: 5px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 1 - Raffle Page --*/

	.three_cols > div:nth-child(1) {
	    width: calc(50% - 175px);
	}

	.three_cols > div:nth-child(3) {
	    width: calc(50% - 175px);
	    display: flex;
	    justify-content: flex-end;
	}

	.gamer_params_wrapp {
	    margin: 64px 0 0 8%;
	}

	.items {
	    margin-left: 0;
	}

	.gamer_params_wrapp_1 {
		max-width: 290px;
	}

	.gamer_params_1 {
	    display: block;	    
	    padding: 10px 10px !important;
	}

	.gamer_params_1 > div {
		width: 100% !important; 
		align-items: center;
		-webkit-align-items: center;
		text-align: center;
		padding: 5px 0;
	}

	.gamer_params_1 .draw_item {
		display: inline-flex;
		display: -webkit-inline-flex;
		align-items: center;
		-webkit-align-items: center;
	}

	.single_item_1 {
		text-align: center;
	}

	.gamer_params_1  .user_wrapp_2 {
		display: inline-flex;
		display: -webkit-inline-flex;
		align-items: center;
		-webkit-align-items: center;
		width: auto;
	}

	.gamer_params_1 .user_wrapp_2 > div:nth-child(1) {
	    width: calc(100% - 55px);
	    text-align: left;
	    order: 2;
	}

	.gamer_params_1 .user_wrapp_2 > div:nth-child(2) {
	    width: 55px;
	    text-align: left;
	    order: 1;
	}

	.gamer_params_1 > div:nth-child(2) {
		display: none;
	}

	/*-- /Section 1 - Raffle Page --*/

	/*-- Section 1 - History Page --*/

	.history_header .col {
		width: 50%;
	}

	.history_header .col:last-child {
		display: none;
	}

	.draws_items_2 {
	    justify-content: flex-end;
	    -webkit-justify-content: flex-end;
	}

	.resp_text_wrapp {
	    display: block;
	    padding: 15px 0 10px 0;
	}

	.text_wrapp_2 p {
	    text-align: center;
	}

	/*-- /Section 1 - History Page --*/

	/*-- Section 1 - Jackpot Page --*/

	.two_cols_4 .gamer_params_wrapp {
	    margin: 10px 0 0 0;
	}

	/*-- /Section 1 - Jackpot Page --*/

}

@media only screen and (max-width: 1650px) {

/*-- Section 1 - Main Page --*/

.user_list_thumb {
    width: calc(50% - 14px);
}

/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1600px) {

/*-- Header --*/

.header_site .left {
    width: 200px;
}

.header_site .right {
    width: calc(100% - 200px);
}

/*.main_nav li a {
    padding: 0 20px;
}*/

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.draw_title {
    min-width: 275px;
}

.draw_title_col:nth-child(2) {
	max-width: 180px;
}

.draw_title_col:nth-child(1) img {
    left: -44px;
}

.draws_items {
    margin: 10px -16px;
}

.draw_item {
	margin: 1px 16px;
}

/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1590px) {

	/*-- Header --*/

	.main_nav li a {
		padding: 0 27px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Jackpot Page --*/

	.thumbnails_2 .thumb_2 {
	    width: calc(33.33% - 16px);
	}

	/*-- /Section 1 - Jackpot Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_thumbnails_wrapp {
	    padding: 20px 0 22px 0;
	}

	.profile_thumb .draw_item {
		display: block;
	}

	.profile_thumb .draw_item > div:nth-child(1) {
	    width: 100%;
	    padding-bottom: 13px;
	}

	.profile_thumb .draw_item > div:nth-child(2) {
	    width: 100%;
	}

	.winners_thumbnails .winner_thumb {
	    width: calc(33.33% - 16px);
	}

	/*-- Section 1 - Profile Page --*/

}

@media only screen and (max-width: 1400px) {

/*-- Section 1 - Main Page --*/

.draws_items {
    margin: 10px -8px;
}

.draw_item {
	margin: 1px 8px;
}

/*-- /Section 1 - Main Page --*/

}


@media only screen and (max-width: 1300px) {

/*-- Header --*/

.header_site .left {
    width: 130px;
}

.header_site .right {
    width: calc(100% - 130px);
}

.main_nav_wrapp {
    width: calc(100% - 260px);
}

.main_nav li a span {
    font-size: 13px;
}

.lang_wrapp {
    width: 90px;
 }

.header_site {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	padding: 0 20px;
}

.header_site .left {
    width: 180px;
}

.header_site .right {
	width: calc(100% - 180px);
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	position: relative;
}

.logo {
    height: 64px;
    min-height: auto;
    background: transparent;
}

.logo img.logo_img {
    max-width: 100%;
    max-height: 100%;
}

.logo:after {
	display: none;
}

.logo_shadow {
	display: none;
}

.lang_wrapp {
    padding-top: 11px;
}

.main_nav_wrapp {
	display: none;
}

.steam_btn_wrapp {
	display: none;
}

.resp_toolbar {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	margin: 0 -4px;
}

.resp_toolbar > div {
	padding: 0 4px;
}

.balance_red {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: .02em;
	text-transform: uppercase;
	color: #FF1248;
}

.balance_red i {
	margin-left: 10px;
}

.balance_red {
    margin: 9px 0;
    white-space: nowrap;
}

.ref_btn {
	display: block;
	width: 32px;
	height: 32px;
	position: relative;
	border: none;
}

.ref_btn:before {
	display: block;
	content: "";
	width: 39px;
    height: 39px;
    position: absolute;
    top: 1px;
    left: -4px;
	background-repeat: no-repeat;
	background-image: url(img/ref_btn_bg.png);
	background-position: center;
	background-size: contain;
}

.ref_btn:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-image: url(img/plus_2.svg);
	background-position: center;
	background-size: auto;
}

.ava {
	display: block;
	width: 34px;
	height: 34px;
	cursor: pointer;
	border: 2px solid rgba(255, 255, 255, .1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.ava .img_box {
	width: 28px;
	height: 28px;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: 1px;
	left: 1px;
}

.ava .img_box img {
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.logout {
	display: block;
	width: 32px;
	height: 32px;
	position: relative;
	border: 1px solid #FF2C2C;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: rgba(255, 44, 44, .3);
}

.logout:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-image: url(img/x.svg);
	background-position: center;
	background-size: auto;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.sidebar_header .col_1 {
    width: calc(100% - 110px);
}

.sidebar_header .col_2 {
    width: 110px;
}

.close_chat {
    display: block !important;
}

#chatMenu {
	display: none;
}

.content_templ > .right {
	width: 100%;
    padding: 25px 20px 0 20px;
}

.draws_items {
    margin: 10px -19px;
}

.draw_item {
	margin: 1px 19px;
}

.chat_users:before {
	display: none;
}

#chatMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

#chatUsers {
	max-height: 100vh !important;
	height: 100vh !important;
	background: #171925;
}

.chat_users.mCustomScrollbar .user_item:nth-child(1) {
    margin-top: 65px;
}

.chat_users.mCustomScrollbar .user_item:last-child {
    margin-bottom: 100px;
}

.resp_form_wrapp {
	display: block;
	width: 100%;
	height: 60px;
    z-index: 3;
    padding: 10px 20px 10px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #171925;
}

.resp_form_wrapp .form {
	position: relative;
}

/*-- /Section 1 - Main Page --*/
/*-- Footer --*/

.footer_templ {
	display: none;
}

.resp_footer {
    display: block;
}

/*-- /Footer --*/

/*-- Resp Menu --*/

#resp_nav {
	/*display: block;*/
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	margin: 0;
	padding: 55px 10px 50px 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background-color: #000504;
}

.soc_links {
    justify-content: center;
    -webkit-justify-content: center;
}

.resp_nav_list {
	margin: 20px 0;
}

.resp_nav_list li {
	display: flex;
	display: -webkit-flex;
	padding: 0;
	position: relative;
}

.resp_nav_list li:before {
	display: none;
}

.resp_nav_list li a {
	width: 100%;
	padding: 10px 10px 10px 10px;
	font-size: 23px;
	line-height: 23px;
	text-align: center;
}

.resp_nav_list li a span {
    font-size: 18px;
    margin-left: 24px;
}

.resp_menu .close_nav {
    display: block;
}

.resp_nav_list li a:before {
    left: 15px;
}

.resp_nav_list li a:after {
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	background: -moz-linear-gradient(left,  rgba(255,44,44,1) 0%, rgba(255,44,44,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,44,44,1) 0%,rgba(255,44,44,0) 100%);
	background: linear-gradient(to right,  rgba(255,44,44,1) 0%,rgba(255,44,44,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2c2c', endColorstr='#00ff2c2c',GradientType=1 );
}

.close_nav {
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/close.svg);
}

.resp_menu .close_nav {
	position: fixed;
	top: 20px;
	right: 45px;
}
/*-- /Resp Menu --*/

/*-- Section 1 - Raffle Page --*/

.top_bg:before {
    background-size: cover;
    max-height: 700px;
}

.item_3 {
    width: 180px;
	margin: 15px 10px;
}

/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 1124px) {

/*-- Section 1 - Main Page --*/

.draws_items {
    margin: 10px -10px;
}

.draw_item {
	margin: 1px 10px;
}

.user_list_thumb {
    width: 100%;
}

.bg_wrapp .bg_text {
    left: 100%;
    margin-left: -293px;
}

.users_count_2 > div:nth-child(1) {
    width: 120px;
}

.users_list_items {
    height: auto;
    max-height: 370px;
}

.resp_flex {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin: 0 -8px;
}

.resp_flex .user_item_2 {
	width: 33.33%;
	padding: 0 8px;
	max-width: 275px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Jackpot Page --*/

.thumbnails_2 .thumb_2 {
    width: calc(50% - 16px);
}

/*-- /Section 1 - Jackpot Page --*/

/*-- Section 1 - Support Page --*/

.chat_user_header > div:nth-child(1) {
    width: calc(100% - 60px);
}

.chat_user_header > div:nth-child(2) {
    width: 60px;
}

.chat_user_inline .status_pill {
    width: 19px;
    height: 19px;
    position: relative;
    top: 1px;
}

.chat_user_inline .status_pill p {
    font-size: 0;
    line-height: 0;
}

.chat_col_1 {
    width: 320px;
}

.chat_col_2 {
    width: calc(100% - 320px);
}

.chat_user_header h3 {
	padding-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
}

.chat_user_content p {
    font-size: 12px;
    line-height: 125%;
}

.chat_user > div:nth-child(1) {
    width: 50px;
    padding-top: 7px;
}

.chat_user > div:nth-child(2) {
    width: calc(100% - 50px);
}

.chat_user_inline > div {
    padding: 0 3px;
}

.chat_user .user_avatar {
	margin: 0;
}

/*-- /Section 1 - Support Page --*/

}

@media only screen and (max-width: 1024px) {

/*-- Section 1 - Main Page --*/

.index_bg:before {
	background-image: url(img/index_bg_tab.jpg);
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Jackpot Page --*/

.jackpot_bg:before {
    background-image: url(img/jackpot_bg_tab.jpg);
}

/*-- /Section 1 - Jackpot Page --*/

/*-- Section 1 - Main Page --*/

.draw .inline:last-child {
	display: none;
}

.rotate {
    top: 54px;
    left: 50%;
    margin-left: -436px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
}

.circle_wrapp:before {
    height: 85px;
    top: 85px;
}

.circle_bg {
	bottom: -101px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
}

.total_bank {
    top: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 2;
}

.counter_wrapp_2 p.countdown {
	margin-top: 0;
}

.circle_wrapp .counter_wrapp {
    top: 205px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Profile Page --*/

	.profile_templ {
		display: block;
	}

	.profile_templ .left {
	    width: 265px;
	    margin: 0 auto;
	    padding: 10px 0;
	}

	.profile_templ .right {
	    width: 100%;
	    padding: 10px 0;
	}

	.winners_thumbnails .winner_thumb {
	    width: calc(50% - 16px);
	}

/*-- /Section 1 - Profile Page --*/

/*-- Section 1 - Raffle Page --*/

.top_bg:before {
    background-image: url(img/top_bg_tab.jpg);
}

/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 900px) {

/*-- Section 1 - Main Page --*/

.filter_wrapp {
    margin: 10px 0;
}

.filter_three_cols {
	margin: 0;
}

.filter_three_cols .filter_wrapp {
	width: 100%;
	padding: 0;
}

.resp_flex .user_item_2 {
	width: 50%;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Profile Page --*/

.inner_header {
	display: block;
}

.inner_header > div:nth-child(1) {
    width: 100%;
    padding-right: 0;
}

.inner_header > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
}

.choise_goods_thumbnails {
    justify-content: center;
    -webkit-justify-content: center;
}

/*-- /Section 1 - Profile Page --*/

/*-- Section 1 - Raffle Page --*/

.three_cols > div:nth-child(1) {
    width: calc(50% - 140px);
}

.three_cols > div:nth-child(2) {
    width: 280px;
}

.three_cols > div:nth-child(3) {
    width: calc(50% - 140px);
}

/*-- /Section 1 - Raffle Page --*/

/*-- Section 1 - Support Page --*/

.chat_col_1 {
    width: 100%;
}

.chat_col_2 {
	display: none;
}

.support_2 .chat_col_1 {
	display: none;
}

.support_2 .chat_col_2 {
	width: 100%;
	display: block;
}

.support_2 .chat_templ {
    /*height: 71vh;*/
    height: 74vh;
    margin-bottom: 20px;
}

.chat_messages {
    padding-top: 41px;
}

.support_2 .support_header .col_1 {
	width: 100%;
}

.support_2 .support_header .col_2 {
	display: none;
}

.chat_header_col_1 {
    width: 100%;
}

.chat_header_col_2 {
	display: none;
}

.inline_2 h2 {
    font-size: 22px;
}

.resp_col {
    display: inline;
}

.user_wrapp_2.user_wrapp_chat {
	width: 55px;
}

.hidden_900 {
	display: none;
}

.resp_inline {
	margin: 0 -10px;
}

.resp_inline > div {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
}

.resp_inline .link_wrapp {
    display: inline;
}

/*-- /Section 1 - Support Page --*/

/*-- Section 1 - History Page --*/

.history_header .col:nth-child(1) {
	width: 100%;
}

.history_header .col:nth-child(2) {
	display: none;
}

.draws_items_2 {
    justify-content: center;
    -webkit-justify-content: center;
}

.draws_items_resp {
    display: flex;
    display: -webkit-flex;
    margin: 20px 0 0 0;
}

.history_goods {
	justify-content: center;
    -webkit-justify-content: center;
}

.history_goods .history_good {
    margin: 8px 8px;
}

/*-- /Section 1 - History Page --*/

}

@media only screen and (max-width: 767px) {

	/*-- Section 1 - Jackpot Page --*/

	.gamer_params {
		justify-content: space-between;
		-webkit-justify-content: space-between;
		padding-left: 5px !important;
	}

	.gamer_params > div:nth-child(2) {
	    display: none;
	}

	/*-- /Section 1 - Jackpot Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_thumb {
		margin: 10px 10px;
	}

	.profile_thumb .draw_item {
	    display: flex;
	    display: -webkit-flex;
	}

	.draw_item > div:nth-child(1) {
	    width: 40px;
	    padding-bottom: 0;
	}

	.draw_item > div:nth-child(2) {
	    width: calc(100% - 40px);
	}

	.profile_thumb .draw_item {
	    display: flex;
	    display: -webkit-flex;
	}

	.profile_thumb .draw_item > div:nth-child(1) {
	    width: 50px;
	    padding-bottom: 0;
	}

	.profile_thumb .draw_item > div:nth-child(2) {
	    width: calc(100% - 50px);
	}

	/*-- /Section 1 - Profile Page --*/

	/*-- Section 1 - Raffle Page --*/

	.item_3 {
	    width: calc(50% - 20px);
	}

	/*-- /Section 1 - Raffle Page --*/

	/*-- Section 1 - Support Page --*/

	.support_header .col_1 {
	    width: 100%;
	}

	.support_header .col_2 {
		display: none;
	}

	.resp_pill_wrapp {
		display: block;
	}

	/*-- /Section 1 - Support Page --*/

	/*-- Section 1 - top Page --*/

	.top_place_1 {
	    order: 1;
	}

	.top_place_2 {
	    order: 2;
	}

	.top_place_3 {
	    order: 3;
	}

	.table .table_row {
	    padding: 0 10px;
	}

	.table .cell:nth-child(1) {
	    width: 40px;
	}

	.table .cell:nth-child(2) {
	    width: calc(65% - 40px);
	}

	.table .cell:nth-child(4) {
	    width: 25%;
	}

	/*-- /Section 1 - top Page --*/

}

@media only screen and (max-width: 750px) {

	/*-- Section 1 - Raffle Page --*/

	.three_cols > div:nth-child(1),
	.three_cols > div:nth-child(3) {
		display: none;
	}

	.three_cols > div:nth-child(2) {
	    margin: 0 auto;
	}

	.resp_box {
		display: block;
	}

	.resp_items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.items.resp_items .draw_item {
	    margin: 22px 10px;
	    display: inline-flex;
	}

	.gamer_params_wrapp_resp {
	    max-width: 100%;
	    margin: 20px 0;
	}

	/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 1 - Main Page --*/

.users_lists_thumbnails {
    margin: 17px -15px;
}

.user_list_thumb {
    width: 100%;
    margin: 7px 0;
}

.resp_flex .user_item_2 {
	width: 100%;
	max-width: 100%;
}

.users_list_items {
	height: 370px;
    padding: 16px 24px 14px 20px;
}

.circle_wrapp:before {
    height: 65px;
    top: 120px;
}

.rotate {
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
}

.circle_bg {
    bottom: -101px;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
}

.circle_wrapp {
    margin-top: -15px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Jackpot Page --*/

.thumbnails_2 {
    margin: 7px -15px;
}

.thumbnails_2 .thumb_2 {
    width: 100%;
    margin: 8px 0;
}

/*-- /Section 1 - Jackpot Page --*/

/*-- Section 1 - Profile Page --*/

/*.history_title {
	display: none;
}*/

/*-- /Section 1 - Profile Page --*/

/*-- Section 1 - Raffle Page --*/

.winners_thumbnails {
    margin: 0;
}

.winners_thumbnails .winner_thumb {
    width: 100%;
    margin: 8px 0;
}

/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 600px) {

/*-- Header --*/

.header_site {
	height: 64px;
}

.header_site .left {
	display: none;
}

.header_site .right {
    width: 100%;
}

.respmenubtn {
    left: 0;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.index_bg:before {
	background-image: url(img/index_bg_smart.jpg);
}

.draw {
    margin-bottom: 0px;
}

.circle_wrapp .counter_wrapp {
    top: 209px;
}

.counter_wrapp_2 p.countdown {
    margin-top: 6px;
}

p.countdown {
	font-size: 44px;
	line-height: 48px;
}

.rulet_sect .history_list {
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	transform: scale(.8);
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Jackpot Page --*/

.jackpot_bg:before {
    background-image: url(img/jackpot_bg_smart.jpg);
}

.top_row {
    margin: 14px 0 57px 0;
}

.top_row_2 > div:nth-child(1) {
    width: 50%;
}

.top_row_2 > div:nth-child(2) {
    width: 0;
}

.top_row_2 > div:nth-child(3) {
    width: 50%;
}

.jackpot_templ .counter_templ {
    top: 185px;
 }

.jackpot_templ p.countdown {
	padding-bottom: 6px;
    font-size: 54px;
    line-height: 60px;
}

.total_winner_item p {
    font-size: 30px;
}

.total_winner_2 {
    margin: 18px 0;
}

.total_winner_header h2 {
    font-size: 18px;
    line-height: 27px;
}

.total_winner_item h3 {
    font-size: 14px;
    line-height: 19px;
}

.total_winner_item p {
    font-size: 18px;
    line-height: 20px;
}

.inner_header > div:nth-child(2) {
	display: none;
}

/*-- /Section 1 - Jackpot Page --*/

/*-- Section 1 - Raffle Page --*/

.items_wrapp_3 {
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0 -15px;
	padding-left: 13%;
}

.item_3 {
    width: 100%;
}

.resp_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 12%;
}

.items.resp_items .draw_item {
    margin: 10px 0;
    display: flex;
    width: 100%;
}

.top_bg:before {
    background-image: url(img/top_bg_smart.jpg);
}

/*-- /Section 1 - Raffle Page --*/

}

@media only screen and (max-width: 540px) {

	/*-- Section 1 - Main Page --*/

	.circle_wrapp {
	    height: 304px;
	}

	.circle_wrapp:before {
	    height: 61px;
	    top: 95px;
	}

	.rotate {
		top: 23px;
		height: 304px;
	    -webkit-transform: scale(.5);
	    -moz-transform: scale(.5);
	    transform: scale(.5);
	}

	.circle_bg {
	    bottom: -101px;
	    -webkit-transform: scale(.5);
	    -moz-transform: scale(.5);
	    transform: scale(.5);
	}

	.rulet_wrapp {
	    top: 15px;
	}

	.counter_wrapp_2 p.countdown {
	    margin-top: 0;
	}

	.circle_wrapp .counter_wrapp {
	    top: 168px;
	}

	.rulet_sect .history_list {
		-webkit-transform: scale(.6);
		-moz-transform: scale(.6);
		transform: scale(.6);
	}

	/*-- /Section 1 - Main Page --*/

}


@media only screen and (max-width: 480px) {

	/*-- Section 1 - Main Page --*/

	.draw_title_col:nth-child(1) {
	    width: 76px;
	}

	.draw_title_col:nth-child(2) h2 {
	    font-size: 22px;
	}

	.draw_title_col:nth-child(1) img {
	    left: -41px;
	    max-width: 120px;
	    top: -29px;
	}

	.two_cols > .col_2 {
	    width: calc(100% + 30px);
	    margin: 0 -15px;
	}

	.filter_box {
		margin: 0 -20px;
	    padding: 22px 15px 1px 15px;
	}

	.radio {
	    padding: 10px 6px 10px 6px;
	}

	.radio_2 {
	    padding: 11px 6px 10px 6px;
	}

	.radio_txt span {
	    padding-left: 3px;
	}

	.circle_wrapp .counter_wrapp {
	    top: 173px;
	}

	p.c_t {
		font-size: 13px;
		line-height: 19px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 1 - Jackpot Page --*/

	.gamer_params {
	    display: block;
	    padding: 10px 10px !important;
	}

	.gamer_params > div {
		width: 100% !important; 
		align-items: center;
		-webkit-align-items: center;
		text-align: center;
		padding: 10px 0;
	}

	.gamer_params .draw_item {
		display: inline-flex;
		display: -webkit-inline-flex;
		align-items: center;
		-webkit-align-items: center;
	}

	.single_item {
		text-align: center;
	}

	.gamer_params  .user_wrapp_2 {
		display: inline-flex;
		display: -webkit-inline-flex;
		align-items: center;
		-webkit-align-items: center;
		width: auto;
	}

	.user_wrapp_2 > div:nth-child(1) {
	    width: calc(100% - 55px);
	    text-align: left;
	    order: 2;
	}

	.user_wrapp_2 > div:nth-child(2) {
	    width: 55px;
	    text-align: left;
	    order: 1;
	}

	.total_winner_header h3 {
	    font-size: 14px;
	    line-height: 19px;
	}

	.total_winner_header h2 {
	    font-size: 15px;
	    line-height: 27px;
	}

	.winner_three_cols > div {
	    padding: 5px 5px;
	}

	.winner_three_cols > div:nth-child(1) {
	    width: calc(50% - 50px);
	}

	.winner_three_cols > div:nth-child(3) {
	    width: calc(50% - 50px);
	}

	.total_winner_item h3 {
	    font-size: 10px;
	    line-height: 14px;
	}

	.total_winner_item p {
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Jackpot Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_thumbnails_wrapp {
	    padding: 20px 20px 22px 36px;
	}

	.profile_thumb {
		width: 100%;
		margin: 14px 0;
	}

	.profile_form {
		display: block;
	    margin: 15px 0;
	}

	.profile_form .col_1,
	.profile_form .col_2 {
	    width: 100%;
	    padding: 5px 0;
	}

	.profile_form .col_2 {
		text-align: center;
	}

	.profile_form .red_pill {
		display: block;
		width: 100%;
		max-width: 224px;
	    margin: 0 auto;
	}

	.s_hide {
		display: none;
	}

	.s_visible {
		display: block;
	}

	.inner_header > div:nth-child(1):before {
	    display: block;
	    height: 2px;
	    width: 100%;
	    content: "";
		background: -moz-linear-gradient(left,  rgba(255,44,44,0) 0%, rgba(255,44,44,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,44,44,0) 0%,rgba(255,44,44,1) 100%);
		background: linear-gradient(to right,  rgba(255,44,44,0) 0%,rgba(255,44,44,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff2c2c', endColorstr='#ff2c2c',GradientType=1 );
	}

	.title_wrapp_2 {
	    padding: 0 10px;
	}

	.choise_goods_thumbnails {
	    margin: 0 -2px;
	}

	.choise_good {
	    margin: 5px 2px;
	    width: 83px;
	}

	/*-- /Section 1 - Profile Page --*/

	/*-- Section 1 - Support Page --*/

	.new_ticket {
		min-height: 480px;
	}

	.chat_message {
	    width: 100%;
	}

	.content_templ > .right {
	    padding: 25px 15px 0 15px;
	}

	.chat_message_wrapp {
	    padding: 10px 0 !important;
	}

	.chat_footer {
		width: 100%;
		position: fixed;
		bottom: 59px;
		left: 0;
	    padding: 0;
	}

	.support_2 .chat_templ {
	    margin-bottom: 70px;
	}

	.ticket_wrapp {
	    padding: 0 15px;
	}

	.ticket_header h2 {
	    font-size: 22px;
	    line-height: 27px;
	}

	.support_2.new_ticket .chat_templ {
	    margin-bottom: 0;
	}

	/*-- /Section 1 - Support Page --*/

	/*-- Section 1 - top Page --*/

	.top_place {
	    margin: 10px 0;
	}

	/*-- /Section 1 - top Page --*/

	/*-- Section 1 - Support Page New Ticket --*/

	.table .cell {
	    padding: 5px 5px;
	}

	.table .cell:nth-child(1) {
	    width: 25px;
	}

	.table .cell:nth-child(2) {
	    width: calc(75% - 25px);
	}

	.table .cell:nth-child(3) {
		display: none;
	}

	.table .cell:nth-child(4) {
	    width: 25%;
	}

	.user_info h3 {
	    font-size: 12px;
	}

	.table p {
	    font-size: 12px;
	}

	/*-- /Section 1 - Support Page New Ticket --*/

	/*-- Section 1 - History Page --*/

	.draws_items_resp {
	    justify-content: center;
	    -webkit-justify-content: center;
	    padding-left: 10px;
	}

	.draws_items_resp .draw_item {
	    display: block;
	    width: 33.33%;
	    margin: 5px 5px;
	}

	/*-- /Section 1 - History Page --*/

	/*-- Popups --*/

	.popup_content {
		max-width: 270px;
	}

	.popup_content .close_popup {
	    top: 20px;
	    right: 11px;
	}

	.popup_header {
		text-align: left;
		padding-left: 24px;
		padding-right: 24px;
	}

	.popup_header h3 {
	    font-size: 14px;
	    line-height: 21px;
	}

	.balance_two_cols {
		display: block;
	}

	.balance_two_cols .col {
	    width: 100% !important;
	    padding-bottom: 25px;
	}

	.balance_two_cols .col:nth-child(2) {
		display: none;
	}

	.balance_two_cols .col:last-child {
		padding-bottom: 0;
	}

	/*-- /Popups --*/

	.chat_users_2 {
	    margin: 0 -15px;
	}

	.inline_3 > div {
	    padding: 7px 4px;
	}

	.file_cols span:nth-child(1) {
	    width: 26px;
	}

	.h_wrapp h3 {
	    font-size: 16px;
	}

}

@media only screen and (max-width: 400px) {

	/*-- Section 1 - Main Page --*/

	.lang_current {
	    width: 67px;
	}

	.lang_current:after {
	    right: 3px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 1 - Support Page Empty --*/

	.chat_box .chat_empty {
	    margin: 35% auto 0 auto;
	}

	/*-- /Section 1 - Support Page Empty --*/
}

@media only screen and (min-width: 1301px) {
	#resp_nav {
	    display: none !important;
	}

	#chatMenu {
		display: flex !important;
	}

}