@media only screen and (max-width: 1600px) {

/*-- Header --*/

.header_site .left {
    width: 200px;
}

.header_site .right {
    width: calc(100% - 200px);
}

.main_nav li a {
    padding: 0 20px;
}

/*-- /Header --*/

}


@media only screen and (max-width: 900px) {



}

@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 480px) {

	
}
